<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<h3 style="text-align: center;">Hello {{session['username']}}<br>Staff UI</h3>
	
<style>

#status_icon{
  position: fixed;
  top: 61px;
  right: 200px;
  width:100px;
  align-content: right;
}

</style>
</head>
<body>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
crossorigin="anonymous">
<link rel="stylesheet" href={{url_for('static', filename='css/background.css') }}>
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="btn-close" data-bs-dismiss="alert"
      aria-label="Close"></button>
      {{ message }}
  </div>
  {% endfor %}
</div>
<form action="/director">
<input class="button" type="submit" value="Back to Director UI">
</form>
 
  {% if files|length < 1 %}
  <h3 style="text-align: center;">There are no files</h3>
  {% else %}
  
  <table align="center" id="files">
  <h3 style="text-align: center;">List of Dept {{dept}} Files</h3>
      <tr>
          <th>Owner</th>
          <th>File Name</th>
          <th>Date Created</th>
          <th>Last Modified</th>
		  <th>Edit</th>
		  <th>Delete</th>
          <th>View</th>
      </tr>
      {% for file in files%}<br>
      <tr>
          <td>{{ file.owner }}</td>
          <td>{{ file.name }}</td>
          <td>{{ file.date_created }}</td>
          <td>{{ file.last_modified }}</td>
		  <td>
     
        <form action="/edit">
          <input type=hidden name=name value="{{file.code_name}}">
          <input class="button" type="submit" value="Edit">
        </form>

		  </td>
		  <td>

        <form action="/delete">
          <input type=hidden name=name value="{{file.code_name}}">
          <input class="button" type="submit" value="Delete">
        </form>

		  </td>
          <td>
            <form target="_blank" action="/view#toolbar=0" method="POST">
              <input type=hidden name=name value="{{file.code_name}}">
              <input type=hidden name=packetsize value="{{file.packet_size}}">
              <input class="button" type="submit" value="View">

            </form>
            <!-- <a href="/view?name={{file.name}}&packetsize={{file.packet_size}}#toolbar=0" target="_blank">View</a> -->
          </td>
      </tr>
      {%endfor%}<br>
    </table>
    {% endif %}<br>
  
    <form action="/logout">
      <input class="button" type="submit" value="logout">
  </form>
</body>
</html>

